html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img-box {
  position: relative;
  min-height: 250px;
}
@keyframes top-header {
  0% { background-color: rgba(0,0,0,0.2); }
  30% { background-color: rgba(0,0,0,0.3); }
  50% { background-color: rgba(0,0,0,0.5); }
  70% { background-color: rgba(0,0,0,0.6); }
  100% { background-color: rgba(0,0,0,0.7); }
}
@media (min-width: 800px){
  .msg {
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
	cursor: pointer;
	padding: 30px;
	position: absolute;
  }
}
@media (max-width: 799px){
  .msg {
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vh;
	cursor: pointer;
	padding: 10px;
	margin: 5px;
	position: absolute;
  }
  .ui.grid>* {
	padding: 0 !important;
  }
}
.top-top-msg {
  top: 10%;
  left: 5%;
  animation:top-header 3s ease 1s infinite normal none running;
  font-size: 3vw;
}

.top-bottom-msg {
  top: 60%;
  left: 40%;
  animation:top-header 2s ease 1s infinite normal none running;
  font-size: 4vw;
}
.company-top-msg {
  top: 5%;
  left: 5%;
  font-size: 5vw;
}
.company-center-msg {
  top: 30%;
  left: 10%;
  font-size: 2vw;
  justify-content: left !important;
}
