.top-image {
  position: relative;
}
.msg {
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 50%;
}
